* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 120px 0px 120px;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header .menu li {
  color: #0f001a;
  font-family: Objective;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.active {
  color: #4a99d3;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 130px 66px 110px;
}
.hero__title {
  width: 493px;
  color: #260041;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 1px;
  padding-bottom: 14px;
}
.hero__commerse {
  color: #d81b60;
}
.hero__text {
  width: 636px;
  color: #260041;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 60px;
}
.btn button {
  border: none;
  border-radius: 5px;
  background: #4a99d3;
  padding: 12px 22px;
}
.cards {
  padding: 146px 120px 90px 120px;
}
.cards__title {
  width: 360px;
  color: #260041;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 1.8px;
  padding-bottom: 84px;
}

.card {
  padding: 48px;
  width: 380px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 20px 50px 0px rgba(74, 153, 211, 0.2);
}
.card__img {
  padding-bottom: 56px;
}
.card__title {
  color: #0f001a;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.4px;
  padding-bottom: 16px;
}
.card__text {
  width: 286px;
  color: #0f001a;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 62px;
}
.btn {
    display: flex;
    gap: 15px;
  align-items: center;
  color: #4a99d3;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.7px;
}

.card__item{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}